<h2>Login</h2>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
  <div>
    <%= text_input f, :email, placeholder: "Email" %>
  </div>
  <div>
    <%= password_input f, :password, placeholder: "Email" %>
  </div>
  <%= submit "Log in" %>
<% end %>
