<h2>New User</h2>

<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the error below.</p>
    </div>
  <% end %>

  <div>
    <%= text_input f, :name, placeholder: "Name" %>
    <%= error_tag f, :name %>
  </div>
  <div>
    <%= text_input f, :username, placeholder: "Username" %>
    <%= error_tag f, :username %>
  </div>
  <%= submit "Create User" %>
<% end %>
